<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="BuildPackConfig">
      <section name="WindowPackConfig" type="StrayFog_Framework_Pak.Forms.WindowPlatform.WindowPackConfig,StrayFog_Framework_Pak"/>
    </sectionGroup>    
  </configSections>
  <BuildPackConfig>
    <WindowPackConfig
      OldUnrealPakExe="E:\UE4EngineSrcCode\UE_4.18.3\Engine\Binaries\Win64\UnrealPak.exe"    
      OldVersionName="1.0" 
      OldProjectDir="D:\UE4Frame_4.18\StrayFog_Framework"
      OldVersionDirectory="D:\UE4Frame_4.18\StrayFog_Framework\Saved\StagedBuilds\Pak1.0\WindowsNoEditor"
      NewUnrealPakExe="E:\UE4EngineSrcCode\UE_4.18.3\Engine\Binaries\Win64\UnrealPak.exe"
      NewVersionName="2.0"
      NewProjectDir="D:\UE4Frame_4.18\StrayFog_Framework"
      NewVersionDirectory="D:\UE4Frame_4.18\StrayFog_Framework\Saved\StagedBuilds\Pak2.0\WindowsNoEditor"      
      />
  </BuildPackConfig>
  <!--
  OldVersionDirectory="D:\Backup\20180510_ver_8363\Client"      
  OldVersionDirectory1="F:\UE4Frame_4.18\StrayFog_Framework\Saved\StagedBuilds\Pak1.0\WindowsNoEditor"
  NewVersionDirectory="D:\Backup\20180510_ver_8372\Client"     
  NewVersionDirectory1="F:\UE4Frame_4.18\StrayFog_Framework\Saved\StagedBuilds\Pak2.0\WindowsNoEditor"
  -->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
</configuration>